<section class="landing__page">
	<h1 class="h1 text-center">Hi, I am Nolan Seokane</h1>
	<h5 class="h5 text-center font-monospace">Developer that skates</h5>
	<small class="small text-center mb-4">Build projects for fun and learning new technologies for practice to diversify
		and
		improve my skills. <br /> Ability to adapt to change, and taking up a new skill is never a problem .</small>
	<app-socials></app-socials>
	<div *ngIf="skills.length > 0">
		<h1 class="h1 text-center mt-5">Skills</h1>
		<div class="skill__stacks">
			<div *ngFor="let skill of skills">
				<figure class="skill__figure">
					<img class="img-fluid d-block mx-auto" *ngIf="skill.skill"
						src="../../../assets/svg/{{ skill.skill | lowercase }}.svg" loading="lazy" width="30"
						height="30" alt="{{skill.skill}}">
					<figcaption class="skill__caption">
						<small>{{skill.skill}}</small>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
	<ngx-spinner bdColor="rgba(0, 0, 0, 0.85)" size="large" type="ball-atom" [fullScreen]="true">
		<p>Loading...</p>
	</ngx-spinner>
</section>