<section class="about">
	<div class="container">
		<h2>About Me</h2>
		<p>I build projects and I like learning other technologies to practice, diversify and improve my skills.</p>

		<p>I take up interviews in search of an enterprise/company where I can contribute to its growth and overall
			success while working with a great team on exciting projects and to pursue a career in software development
			(Open to other fields as well).</p>

		<p>I have the ability to adapt to change, I'm a fast learner and taking up a new skill is never a problem.</p>

		<p>NB: Willing to relocate</p>
	</div>
</section>