<nav class="navbar navbar-expand-md navbar-light sticky-top">
	<div class="container-fluid">
	  	<a class="navbar-brand" routerLink="/">
			  <img class="img-fluid" src="../../../assets/branding/nav_logo.png" alt="" style="max-width: 50px;">
		  </a>

	  	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navToggle" aria-controls="navToggle" aria-expanded="false" aria-label="Toggle navigation">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
				<path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
			</svg>
	  	</button>

		<div class="collapse navbar-collapse" id="navToggle">
			<div class="navbar-nav">
				<a class="nav-link active" aria-current="page" routerLink="/">Home</a>
				<a class="nav-link" routerLink="/">Features</a>
				<a class="nav-link" routerLink="/">Pricing</a>
				<a class="nav-link disabled">Disabled</a>
			</div>
		</div>
	</div>
</nav>