<section class="contact__page">
	<div class="contact__form">

		<form>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-outline mb-4">
						<label class="form-label" for="form4Example1">Full Name</label>
						<input type="text" id="form4Example1" class="form-control form-control-sm" />
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-outline mb-4">
						<label class="form-label" for="form4Example2">Email address</label>
						<input type="email" id="form4Example2" class="form-control form-control-sm" />
					</div>
				</div>
			</div>

			<div class="form-outline mb-4">
				<label class="form-label" for="form4Example1">Subject</label>
				<input type="text" id="form4Example1" class="form-control form-control-sm" />
			</div>

			<div class="form-outline mb-4">
				<label class="form-label" for="form4Example3">Message</label>
				<textarea class="form-control form-control-sm" id="form4Example3" rows="4"></textarea>
			</div>

			<button type="submit" class="btn btn__outline__primary d-block mx-auto w-75 mb-2">Send</button>
		</form>

	</div>
</section>