<section class="projects">
	<div class="container">
		<h2>Projects</h2>
		<p>Projects that make my journey worthwhile</p>
		<div class="projects-wrapper">
			<div class="project-column">
				<img class="img-fluid" src="../assets//images/placeholder.png" alt="Project Thumbnail">
				<div class="project-body">
					<h5>E-Commerce</h5>
				</div>
			</div>

			<div class="project-column">
				<img class="img-fluid" src="../assets//images/placeholder.png" alt="Project Thumbnail">
				<div class="project-body">
					<h5>E-Commerce</h5>
				</div>
			</div>

			<div class="project-column">
				<img class="img-fluid" src="../assets//images/placeholder.png" alt="Project Thumbnail">
				<div class="project-body">
					<h5>E-Commerce</h5>
				</div>
			</div>
		</div>
	</div>
</section>