<section class="skills">
	<div class="container">
		<div class="skills-wrapper">
			<h2>Skills</h2>
			<div class="skill">
				<h5>Django Rest Framework</h5>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint vitae eum non laborum est placeat
					voluptatum consequatur at tempora cumque?</p>
			</div>
			<div class="skill">
				<h5>Angular</h5>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint vitae eum non laborum est placeat
					voluptatum consequatur at tempora cumque?</p>
			</div>
			<div class="skill">
				<h5>Git & Git Flow</h5>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint vitae eum non laborum est placeat
					voluptatum consequatur at tempora cumque?</p>
			</div>
			<div class="skill">
				<h5>React JS</h5>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint vitae eum non laborum est placeat
					voluptatum consequatur at tempora cumque?</p>
			</div>
	
			<h5>Other Skills</h5>
			<div class="other-skills">
				<span class="skill-tag">AWS</span>
				<span class="skill-tag">Django</span>
				<span class="skill-tag">Heroku</span>
				<span class="skill-tag">Netlify</span>
				<span class="skill-tag">GitHub</span>
				<span class="skill-tag">Docker</span>
			</div>
		</div>
	</div>
</section>
