$primary-gradient: linear-gradient(to right, rgba(216, 226, 215, 1) 0%, 0%, rgba(69, 109, 108, 1) 0%, 50%, rgba(216, 226, 215, 1) 100%);
$primary-color: rgba(70, 115, 110, 1);

$secondary-color: rgba(54, 89, 86, 1);

$tertiary-color: rgba(105, 140, 137, 1);

$quaternary-color: rgba(143, 166, 159, 1);

$quinary-color: rgba(209, 217, 208, 1);