$primary-gradient: linear-gradient(to right, rgba(216, 226, 215, 1) 0%, 0%, rgba(69, 109, 108, 1) 0%, 50%, rgba(216, 226, 215, 1) 100%);
$primary-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.07);
$primary-color: #563763;

$secondary-color: rgba(54, 89, 86, 1);

$tertiary-color: rgba(105, 140, 137, 1);

$quaternary-color: rgba(143, 166, 159, 1);

$quinary-color: rgb(230, 230, 230);