/* You can add global styles to this file, and also import other style files */
// Font
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@font-face {
	font-family: brewery;
	src: url('./assets/fonts/local-brewery-four.otf');
}

@font-face {
	font-family: flood;
	src: url('./assets/fonts/flood-std.otf');
}

@import 'default.scss';

// Screen Sizes
$tablet: 750px;

// Screen mixins
@mixin tablet {
	@media (max-width: #{$tablet}) {
		@content;
	}
}

* {
	transition: all .2s ease-in-out;
	scroll-behavior: smooth;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: flood;
}

p, small, span, a, button, input{
	font-family: brewery;
}

button:focus, 
input:focus, 
textarea:focus,
.btn__outline__primary:focus,
.btn__outline__secondary:focus{
	box-shadow: none !important;
}

img{
	color: $quinary-color !important;

	&::before{
		background: url("./assets/images/logo.jpeg") no-repeat 0 0;
		background-size: 100% 100%;
		display: inline-block;
		align-items: center;
		min-height: 165px;
		min-width: 200px;
		content: "";
	}
}

body{
	background-color: $quinary-color;
	color: $primary-color;

	.btn__outline__primary, .btn__outline__secondary{
		align-items: center;
		display: flex;
		gap: .3em;
	}

	.btn__outline__primary{
		border: 1px solid $quinary-color !important;
		color: $quinary-color !important;

		svg{
			color: $quinary-color !important;
		}

		&:hover{
			background-color: $quinary-color !important;
			color: $primary-color !important;

			svg{
				color: $primary-color !important;
			}
		}
	}

	.ng-star-inserted, .ng-star-inserted{
		color: $primary-color !important;
	}

	.loading-text p{
		color: $quinary-color;
		margin-top: 5em;
	}

	.btn__outline__secondary{
		border: 1px solid $primary-color !important;
		color: $primary-color !important;

		svg{
			color: $primary-color !important;
		}

		&:hover{
			background-color: $primary-color !important;
			color: $quinary-color !important;

			svg{
				color: $quinary-color !important;
			}
		}
	}

	.toast-title, .toast-message{
		color: lighten($quinary-color, 20%) !important;
	}

	// ================================================== Navigation bar ==================================================
	.navbar{
		background-color: $primary-color !important;

		.navbar-brand {
			color: $quinary-color !important;
		}
		
		.navbar-nav {
			.nav-link {
				color: $quinary-color !important;
			}
		
			.show > .nav-link,
			.active > .nav-link,
			.nav-link.show,
			.nav-link.active {
				color: $quinary-color !important;
			}
		}
		
		svg {
			color: $quinary-color !important;
			border-color: $quinary-color !important;
		}

		.navbar-toggler, .navbar-toggler:focus{
			box-shadow: none;
			border: none;
		}
		
		.navbar-text {
			color: $quinary-color !important;

			a {
				color: $quinary-color !important;
			}
		}
	}
	// ================================================== End Of Navigation bar ==================================================

	.main__section{
		min-height: calc(100vh - 123px);

		.landing__page,
		.project__page,
		.projects__page,
		.contact__page{
			min-height: calc(100vh - 123px);
			padding: .5em 0;
			width: 100%;
		}

		.social__buttons__group, .project__links{
			justify-content: center;
			display: flex;
			gap: 1em;

			.social__link, .project__link{
				border: 1px solid $primary-color;
				justify-content: center;
				color: $primary-color;
				align-items: center;
				border-radius: 50%;
				cursor: pointer;
				display: flex;
				height: 30px;
				width: 30px;

				&:hover{
					background-color: $primary-color;
					color: $quinary-color;
				}
			}
		}

		.landing__page{
			justify-content: center;
			flex-direction: column;
			display: flex;
		}

		.projects__page{
			flex-direction: column;
			padding: 1em 0 1.5em;
			display: flex;
			gap: 1em;

			.search__project{
				justify-content: center;
				align-items: center;
				margin-bottom: 1em;
				display: flex;

				input:focus, button:focus{
					box-shadow: none;
				}
			}
			
			.projects{
				grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
				place-items: center;
				column-gap: .7em;
				row-gap: .7em;
				display: grid;
				height: 100%;

				.project{
					background-color: $primary-color;
					box-shadow: $primary-shadow;
					position: relative;
					overflow: hidden;
					max-width: 200px;
					height: 200px;
					width: 100%;

					img{
						height: 165px;
						width: 100%;
					}

					.overlay {
						background-color: $primary-color;
						transition: .5s ease;
						position: absolute;
						overflow: hidden;
						width: 100%;
						height: 18%;
						bottom: 0;
						right: 0;
						left: 0;

						.text {
							transform: translate(-50%, -10%);
							flex-direction: column;
							color: $quinary-color;
							text-align: center;
							position: absolute;
							display: flex;
							width: 100%;
							left: 50%;
							top: 50%;

							.short__description{
								font-weight: lighter;
								margin-bottom: .8em;
								font-size: small;
								overflow: hidden;
								max-width: 100%;
								padding: 0 .5em;
							}
						}

						.project__links a{
							border: 1px solid $quinary-color;
							color: $quinary-color !important;

							&:hover{
								background-color: $quinary-color;
								color: $primary-color;
							}
						}
					}

					&:hover {
						img{
							filter: blur(3px);
						}

						.overlay {
							background-color: rgba($primary-color, 0.8);
							height: 100%;

							.text{
								transform: translate(-50%, -50%);

								.h5{
									padding-top: 0;
								}
							}
						}
					}
				}
			}
		}

		.project__page{
			grid-template-rows: 10% 90%;
			padding-bottom: 3em;
			display: grid;

			.btn.btn__outline__secondary{
				max-width: 100px !important;
				justify-content: center;
				margin-left: .5em;
			}

			.project__content{
				grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
				display: grid;
				width: 100%;
				gap: 1em;

				.project__img,
				.project__details{
					justify-content: center;
					flex-direction: column;
					display: flex;
					padding: 1em;
				}

				.project__img{
					align-items: center;

					img{
						overflow: hidden;
						height: 300px;
						min-width: 300px;

						&::before{
							min-height: 100%;
							min-width: 100%;
						}
					}

				}

				.project__details{
					.project__date{
						color: $tertiary-color;
					}

					.tech__stacks{
						padding: 0 1em;
						gap: .5em;

						.stack{
							justify-content: center;
							color: $quinary-color;
							border-radius: .3em;
							align-items: center;
							display: flex;

							img{
								max-width: 30px;
							}
						}
					}

					.project__links{
						justify-content: start !important;

						.project__link{
							border-radius: .3em;
							align-items: center;
							width: 100px;
						}
					}
				}
			}
		}

		.contact__page{
			justify-content: center;
			align-items: center;
			display: flex;

			.contact__form{
				background-color: rgba($primary-color, 0.8);
				box-shadow: $primary-shadow;
				border-radius: .5em;
				max-width: 600px;
				padding: 2em;
				width: 100%;

				label{
					color: $quinary-color;
				}

				.form__error{
					border: 1px solid darken($color: pink, $amount: 20%);
					color: darken($color: pink, $amount: 20%) !important;
					background-color: pink;
					border-radius: .5em;
					padding: 0 .5em;
					margin: .3em 0;
					display: block;
				}
			}
		}
	}

	.footer__section{
		background-color: $primary-color;
		justify-content: center;
		color: $quinary-color;
		align-items: center;
		display: flex;
		height: 40px;
	}
}
