/* You can add global styles to this file, and also import other style files */
// Font

@font-face {
	src: url('./assets/fonts/local-brewery-four.otf');
	font-family: brewery;
	font-display: swap
}

@font-face {
	src: url('./assets/fonts/flood-std.otf');
	font-family: flood;
	font-display: swap
}

$primary-background: radial-gradient(at top left, rgba(146,43,225,1) 0%, rgba(43,9,107,1) 100%);
$primary-shadow: 0 0 3px rgba(0, 0, 0, 0.5);;
$primary-color: rgba(255, 255, 255, 0.5);

$secondary-background: radial-gradient(at bottom left, rgba(146, 43, 225, 1) 0%, rgba(43, 9, 107, 1) 100%);

$tertiary-color: rgba(99, 0, 175, 1);
$tertiary-background: linear-gradient(to right, rgba(146, 43, 225, 0.027) 0%, rgba(43, 9, 107, 0.048) 100%);

$quinary-color: rgb(230, 230, 230);
$quinary-background: rgba(99, 0, 175, 0.8);

// Screen Sizes
$tablet: 750px;

// Screen mixins
@mixin tablet {
	@media (max-width: #{$tablet}) {
		@content;
	}
}

* {
	transition: all .2s ease-in-out;
	scroll-behavior: smooth;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: $primary-color;
	font-family: flood;
}

p, small, span, a, button, label{
	color: $primary-color !important;
	font-family: monospace;
}

button:focus, 
input:focus, 
textarea:focus,
.btn__outline__primary:focus,
.btn__outline__secondary:focus{
	box-shadow: none !important;
}

img{
	color: $quinary-color !important;

	&::before{
		background: url("./assets/images/logo.webp") no-repeat 0 0;
		background-size: 100% 100%;
		display: inline-block;
		align-items: center;
		min-height: 190px;
		min-width: 200px;
		height: 100%;
		width: 100%;
		content: "";
	}
}

body{
	background: $primary-background;
	color: $primary-color;

	.btn__outline__primary, .btn__outline__secondary{
		align-items: center;
		display: flex;
		gap: .3em;
	}

	.btn__outline__primary{
		border: 1px solid $primary-color !important;
		color: $primary-color !important;

		svg{
			color: $primary-color !important;
		}

		&:hover{
			// background-color: $quinary-color !important;
			border: 1px solid $quinary-color !important;
			color: $quinary-color !important;

			svg{
				color: $quinary-color !important;
			}
		}
	}

	.ng-star-inserted{
		color: $tertiary-color !important;
	}

	.loading-text p{
		font-family: monospace !important;
		color: $primary-color;
		margin-top: 5em;
	}

	.toast-title, .toast-message{
		color: lighten($quinary-color, 20%) !important;
	}

	// ================================================== Navigation bar ==================================================
	.navbar{
		background: $secondary-background;
		box-shadow: $primary-shadow;

		.navbar-toggler, .navbar-toggler:focus{
			box-shadow: none;
			border: none;

			svg {
				border-color: $primary-color !important;
				color: $primary-color !important;
			}
		}
	}
	// ================================================== End Of Navigation bar ==================================================

	.main__section{
		min-height: calc(100vh - 123px);

		.landing__page,
		.project__page,
		.projects__page,
		.contact__page{
			min-height: calc(100vh - 123px);
			padding: .5em 0;
			width: 100%;
		}

		.social__buttons__group, .project__links{
			justify-content: center;
			display: flex;
			gap: 1em;

			.social__link, .project__link{
				border: 1px solid $primary-color; 
				border-radius: 50% !important;
				justify-content: center;
				width: 30px !important;
				color: $primary-color;
				align-items: center;
				cursor: pointer;
				display: flex;
				height: 30px;

				small{
					display: none !important;
				}

				&:hover{
					border: 1px solid $quinary-color; 
					color: $quinary-color !important;
					border-radius: .3em !important;
					width: 110px !important;
					text-decoration: none;
					align-items: center;
					display: flex;
					gap: .3em;

					small{
						display: block !important;
					}
				}
			}
		}

		.landing__page{
			justify-content: center;
			flex-direction: column;
			display: flex;
		}

		.projects__page{
			flex-direction: column;
			padding: 1em 0 1.5em;
			display: flex;
			gap: 1em;

			.search__project{
				justify-content: center;
				align-items: center;
				margin-bottom: 1em;
				display: flex;

				input:focus, button:focus{
					box-shadow: none;
				}
			}
			
			.projects{
				grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
				place-items: center;
				display: grid;
				height: 100%;
				gap: 1.5em;

				p{
					color: $quinary-color !important;
					text-align: center;
				}

				.project{
					background: $tertiary-background;
					position: relative;
					overflow: hidden;
					max-width: 250px;
					height: 200px;
					width: 100%;

					img{
						height: 160px;
					}

					.overlay {
						background-color: $tertiary-background;
						transition: .5s ease;
						position: absolute;
						overflow: hidden;
						width: 100%;
						height: 18%;
						bottom: 0;
						right: 0;
						left: 0;

						.text {
							transform: translate(-50%, -10%);
							flex-direction: column;
							color: $quinary-color;
							text-align: center;
							position: absolute;
							display: flex;
							width: 100%;
							left: 50%;
							top: 50%;

							.short__description{
								font-weight: lighter;
								margin-bottom: .8em;
								font-size: small;
								overflow: hidden;
								max-width: 100%;
								padding: 0 .5em;
							}
						}
					}

					&:hover {
						img{
							filter: blur(3px);
						}

						.overlay {
							background: $quinary-background;
							height: 100%;

							.text{
								transform: translate(-50%, -50%);

								.h5{
									padding-top: 0;
								}
							}
						}
					}
				}
			}
		}

		.project__page{
			grid-template-rows: 10% 90%;
			padding-bottom: 3em;
			display: grid;

			.btn.btn__outline__primary{
				max-width: 100px !important;
				justify-content: center;
				margin-left: .5em;
			}

			.project__content{
				grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
				display: grid;
				width: 100%;
				gap: 1em;

				.project__img,
				.project__details{
					justify-content: center;
					flex-direction: column;
					display: flex;
					padding: 1em;
				}

				.project__img{
					align-items: center;

					img{
						min-width: 300px;
						overflow: hidden;
						height: 300px;

						&::before{
							min-height: 100%;
							min-width: 100%;
						}
					}

				}

				.project__details{
					.project__date{
						color: $quinary-color;
					}

					.tech__stacks{
						padding: 0 1em;
						gap: .5em;

						.stack{
							justify-content: center;
							flex-direction: column;
							color: $quinary-color;
							border-radius: .3em;
							align-items: center;
							display: flex;
							gap: .5em;

							img{
								max-width: 30px;
							}
						}
					}

					.project__links .project__link{
						border-radius: .3em !important;
						width: 100px !important;
						text-decoration: none;
						align-items: center;
						display: flex;
						gap: .3em;
						
						small{
							display: block !important;
						}
					}
				}
			}
		}

		.contact__page{
			justify-content: center;
			align-items: center;
			padding: 2em 0;
			display: flex;

			.contact__form{
				border-radius: .5em;
				max-width: 600px;
				padding: 2em;
				width: 100%;

				input.form-control, textarea{
					background: $tertiary-background;
					color: $quinary-color;
					border: none;
					border-bottom: 1px solid $quinary-color;
				}

				label{
					color: $primary-color;
				}

				.form__error{
					border: 1px solid darken($color: pink, $amount: 20%);
					color: darken($color: pink, $amount: 20%) !important;
					background-color: pink;
					border-radius: .5em;
					padding: 0 .5em;
					margin: .3em 0;
					display: block;
				}
			}
		}
	}

	// ================================================== Footer ==================================================
	.footer__section{
		background: $tertiary-background;
		justify-content: center;
		color: $primary-color;
		align-items: center;
		display: flex;
		height: 40px;
	}
	// ================================================== End Of Footer ==================================================
}
